/* Reset Styles : ----------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* General Layout : ----------------------------------------------*/
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Raleway', sans-serif;
  margin: 130px;
  margin: 13rem;
}
a {
  color: #000;
}
a:hover {
  background-color: #ffff00;
}
@-ms-viewport {
  width: device-width;
}

/* Font Sizing : ----------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1 {
  font-size: 32px;
  font-size: 3.2rem;
}
h2 {
  font-size: 24px;
  font-size: 2.4rem;
}
h3 {
  font-size: 21px;
  font-size: 2.1rem;
}
h4 {
  font-size: 16px;
  font-size: 1.6rem;
}
h5 {
  font-size: 13px;
  font-size: 1.3rem;
}
h6 {
  font-size: 11px;
  font-size: 1.1rem;
}
p {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.8;
  margin: 15px 0;
  margin: 1.5rem 0;
}

/* Button Styling : ----------------------------------------------*/
.btn {
  background-color: #4caf50;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}
.btn-lrg {
  font-size: 24px;
  width: 100%;
  align-content: center;
}

/* Logo : ----------------------------------------------*/
#logo {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  margin: 2rem;
}
#logo .logo-link {
  display: block;
  background: url('img/MChu_Logo_transparent.png') no-repeat;
  background-size: 85px;
  width: 85px;
  height: 85px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-position-y: 5px;
}

#logo .logo-link:hover {
  background-color: #ffff00;
}


/* Content : ----------------------------------------------*/
#content {
  
}
#content #cover {
  position: fixed;
}
#content #cover .title {
  font-size: 100px;
  font-size: 10rem;
}
#content #cover .title .hello {
  display: block;
  font-size: 3rem;
  font-size: 30px;
  margin: 20px 0;
  margin: 2rem 0;
}
#content #cover .title .name {
  display: block;
  font-family: 'Yantramanav', sans-serif;
  line-height: 1;
}
#content #cover .title .return-home {
  display: block;
  font-family: 'Yantramanav', sans-serif;
  line-height: 1;
  font-size: 20px;
  font-size: 2rem;
  text-decoration: none;
}

#content #cover .icons {
  margin: 20px 0 10px;
  margin: 2rem 0 1rem;
}
#content #cover .icons a {
  display: inline-block;
  width: 20px;
  font-size: 20px;
  font-size: 2rem;
  margin-right: 8px;
  margin-right: 0.8rem;
  text-decoration: none;
}
#content #cover .icons a:last-child {
  margin-right: 0;
}
#content #introduction {
  margin-left: 40%;
  margin-right: 5%;
  margin-bottom: 40%;
}
#content #introduction #top-introduction {
  margin-bottom: 30px;
  margin-bottom: 3rem;
  line-height: 1.8;
}
#content #introduction p.strong {
  font-weight: 700;
}
#content #introduction #project-info {
  margin-top: 50px;
  margin-top: 5rem;
}

/* Responsive : ----------------------------------------------*/
@media (max-width: 1200px) {
  #logo {
    margin: 10px;
    margin: 1rem;
  }
  #content #cover .title {
    font-size: 80px;
    font-size: 8rem;
  }
  #content #cover .title .hello {
    display: block;
    font-size: 2.5rem;
    font-size: 25px;
  }
  #content #introduction {
    margin-left: 50%;
    margin-right: 0;
  }
}
@media (max-width: 912px) {
  body {
    margin: 80px;
    margin: 8rem;
  }
}
@media (max-width: 768px) {
  body {
    margin: 30px;
    margin: 3rem;
  }
  #logo {
    position: initial;
    margin: 10px auto;
    margin: 1rem auto;
  }
  #logo .logo-link {
    margin: 0 auto;
  }
  #content #cover {
    position: initial;
    text-align: center;
  }
  #content #introduction {
    margin: 50px 0;
    margin: 5rem 0;
    text-align: center;
  }
  #content #cover .icons a {
    width: 25px;
    font-size: 25px;
    font-size: 2.5rem;
    margin-right: 12px;
    margin-right: 1.2rem;
  }
}
